<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
    <title>Flask Blog - {{ title }}</title>
  {% else %}
    <title>Flask Blog</title>
  {% endif %}
</head>
<body>
  <div class="top-bar">
    <span class="bar-item title">Flask Blog</span>
    <a class="bar-item" href="/">Home</a>
    <a class="bar-item" href="/about">About</a>
    <a class="bar-item right" href="/login">Login</a>
  </div>
  <div class="main">
    {% block content %}{% endblock %}
  </div>
</body>
</html>